@model IEnumerable<catFinal.Models.Categorias>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Categorias</h2>

<p>
    @Html.ActionLink("NUEVA CATEGORIA", "Create")
</p>
<table>
    <tr>
        <th>
           ID
        </th>
        <th>
            CATEGORIA
        </th>
        <th>
            CONTROL
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.idCategoria }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.idCategoria }) |
            @Html.ActionLink("Borrar", "Delete", new { id = item.idCategoria })
        </td>
    </tr>
}

</table>
